.videoPopup {
  height: 570px;
  position: relative;
  width: 100%;
  background: #000;
  padding: 0px;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.iframePopup {
  height: 570px;
  position: relative;
  background: #000;
  padding: 0px;

  iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .closedBtn {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;

    svg {
      circle {
        fill: rgb(255, 255, 255);
      }

      path {
        fill: #000;
      }
    }
  }
}

.popupContact {
  padding: 50px;
  border-radius: 6px;
  background: #000;
  position: relative;

  .closedBtn {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;

    svg {
      circle {
        fill: rgb(255, 255, 255);
      }

      path {
        fill: #000;
      }
    }
  }

  .popupImg {
    video {
      width: 100%;
      height: 100%;
    }
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .videoPopup {
    height: 570px;
  }

  .iframePopup {
    height: 570px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .popupContact {
    padding: 30px;

  }

  .videoPopup {
    height: 500px;
  }

  .iframePopup {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .popupContact {
    padding: 28px;
  }

  .videoPopup {
    height: 450px;
  }

  .iframePopup {
    height: 450px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  .popupContact {
    padding: 28px;
  }

  .videoPopup {
    height: 420px;
  }

  .iframePopup {
    height: 420px;

    .closedBtn {
      top: -10px;
      right: -10px;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .popupContact {
    padding: 25px;
  }

  .videoPopup {
    height: 365px;
  }

  .iframePopup {
    height: 365px;

    .closedBtn {
      top: -10px;
      right: -10px;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .popupContact {
    padding: 15px;
  }

  .videoPopup {
    height: 310px;
    padding: 0;
  }

  .iframePopup {
    height: 310px;
    padding: 0;
  }

  .closedBtn {
    top: -10px;
    right: -10px;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .popupContact {
    padding: 15px;
  }

  .videoPopup {
    height: 230px;
    padding: 0px;
  }

  .iframePopup {
    height: 230px;
    padding: 0px;
  }

  .contactPopup {
    padding: 20px;

    .animationClass {
      display: none;
    }
  }

  .closedBtn {
    top: -10px;
    right: -5px;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}