.headerSection {
  height: 58px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 38px;
  z-index: 99;

  .mainLogoBox {
    position: relative;
    height: 58px;
    display: block;

    .mainLogo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      height: 58px;

      &.show {
        animation: fadeIn 1s forwards;
      }

      &.hide {
        animation: fadeOut 1s forwards;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }
    }
  }

  .menuIcon {
    text-align: right;
    cursor: pointer;
    position: relative;
    z-index: 9;
  }

  .mainMain {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    left: 0px;
    top: -100%;
    padding: 120px 0px 20px;
    transition: opacity 0.5s ease, transform 0.5s ease;

    .mainMainItems {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: calc(100vh - 200px);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0px;
      }

      li {
        border-bottom: 1px solid hsl(0deg 0% 85% / 30%);
        width: 100%;

        a {
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 50px;
          color: #ffffff;
          width: 100%;
          transition: 0.3s linear;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 110px;

          &:hover {
            color: #ed1919;
            transition: 0.3s linear;

            svg {
              path {
                stroke: #ed1919;
                transition: 0.3s linear;
              }
            }
          }

          svg {
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          a {
            color: #ed1919;

            svg {
              rotate: -180deg;

              path {
                stroke: #ed1919;
                transition: 0.3s linear;
              }
            }
          }
        }

        .haschildMenu {
          display: none;

          &.active {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 20px;

            li {
              flex: 0 0 33.33%;
              border: 0px;
              height: 50px;
              padding-left: 30px;

              a {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 50px;
                color: #ffffff;
                height: auto;
                position: relative;

                &::before {
                  content: "";
                  background: #ed1919;
                  border-radius: 50%;
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 50%;
                  left: -30px;
                  transform: translate(0px, -50%);
                  padding: 4px;
                  box-sizing: border-box;
                  background-clip: padding-box;
                }

                &:after {
                  content: "";
                  display: block;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: rgba(0, 0, 0);
                  position: absolute;
                  top: 50%;
                  left: -27px;
                  transform: translate(0px, -50%);
                }

                &:hover {
                  transition: 0.3s linear;
                  color: #ed1919;
                }

                &.active {
                  color: #ed1919;
                  font-weight: 500;
                  font-size: 20px;

                  &:after {
                    background: #ed1919;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.active {
      opacity: 1;
      transform: translateY(100%);
    }

    .headerCopyRight {
      height: 50px;
      background: #242424;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 30px;
      position: fixed;
      width: 100%;
      left: 0px;
      bottom: 0;

      ul {
        display: flex;
        gap: 20px;

        li {
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
            color: #ffffff;

            svg {
              height: 20px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .headerSection {
    height: 58px;
    top: 20px;

    .mainLogoBox {
      height: 58px;

      .mainLogo {
        height: 58px;
      }
    }

    .mainMain {
      padding: 80px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 200px);

        li {
          a {
            font-size: 30px;
            line-height: 30px;
            height: 80px;

            svg {
              width: 30px;
              height: 30px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 33.33%;
                height: 40px;
                padding-left: 30px;

                a {
                  font-size: 17px;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 50px;

        ul {
          gap: 20px;

          li {
            a {
              font-size: 14px;

              svg {
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .headerSection {
    height: 58px;
    top: 20px;

    .mainLogoBox {
      height: 58px;

      .mainLogo {
        height: 58px;
      }
    }

    .menuIcon {
      svg {
        height: 30px;
        width: auto;
      }
    }

    .mainMain {
      padding: 80px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 200px);

        li {
          a {
            font-size: 30px;
            line-height: 30px;
            height: 80px;

            svg {
              width: 30px;
              height: 30px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 33.33%;
                height: 40px;
                padding-left: 30px;

                a {
                  font-size: 17px;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 50px;

        ul {
          gap: 20px;

          li {
            a {
              font-size: 14px;

              svg {
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .headerSection {
    height: 50px;
    top: 20px;

    .mainLogoBox {
      height: 50px;

      .mainLogo {
        height: 50px;
      }
    }

    .menuIcon {
      svg {
        height: 30px;
        width: auto;
      }
    }

    .mainMain {
      padding: 80px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 200px);

        li {
          a {
            font-size: 28px;
            line-height: 28px;
            height: 80px;

            svg {
              width: 28px;
              height: 28px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 33.33%;
                height: 35px;
                padding-left: 30px;

                a {
                  font-size: 16px;
                  line-height: 35px;
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 45px;

        ul {
          gap: 20px;

          li {
            a {
              font-size: 14px;

              svg {
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .headerSection {
    height: 50px;
    top: 20px;

    .mainLogoBox {
      height: 50px;

      .mainLogo {
        height: 50px;
      }
    }

    .menuIcon {
      svg {
        height: 30px;
        width: auto;
      }
    }

    .mainMain {
      padding: 80px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 200px);

        li {
          a {
            font-size: 28px;
            line-height: 28px;
            height: 80px;

            svg {
              width: 28px;
              height: 28px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 33.33%;
                height: 35px;
                padding-left: 30px;

                a {
                  font-size: 16px;
                  line-height: 35px;
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 45px;

        ul {
          gap: 20px;

          li {
            a {
              font-size: 14px;

              svg {
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .headerSection {
    height: 50px;
    top: 20px;

    .mainLogoBox {
      height: 50px;

      .mainLogo {
        height: 50px;

        svg {
          height: 50px;
          width: auto;
        }
      }
    }

    .menuIcon {
      svg {
        height: 28px;
        width: auto;
      }
    }

    .mainMain {
      padding: 80px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 200px);

        li {
          a {
            font-size: 25px;
            line-height: 25px;
            height: 60px;

            svg {
              width: 28px;
              height: 28px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 33.33%;
                height: 30px;
                padding-left: 20px;

                a {
                  font-size: 14px;
                  line-height: 30px;

                  &::before {
                    width: 12px;
                    height: 12px;
                    left: -19px;
                  }

                  &:after {
                    width: 8px;
                    height: 8px;
                    left: -17px;
                  }
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 45px;

        ul {
          gap: 15px;

          li {
            a {
              font-size: 13px;

              svg {
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .headerSection {
    height: 40px;
    top: 10px;

    .mainLogoBox {
      height: 40px;

      .mainLogo {
        height: 40px;

        svg {
          height: 40px;
          width: auto;
        }
      }
    }

    .menuIcon {
      svg {
        height: 22px;
        width: auto;
      }
    }

    .mainMain {
      padding: 50px 0px 20px;

      .mainMainItems {
        height: calc(100vh - 100px);

        li {
          a {
            font-size: 25px;
            line-height: 25px;
            height: 60px;

            svg {
              width: 25px;
              height: 25px;
            }
          }

          .haschildMenu {
            &.active {
              margin-bottom: 20px;

              li {
                flex: 0 0 100%;
                height: 30px;
                padding-left: 20px;

                a {
                  font-size: 14px;
                  line-height: 30px;

                  &::before {
                    width: 12px;
                    height: 12px;
                    left: -19px;
                  }

                  &:after {
                    width: 8px;
                    height: 8px;
                    left: -17px;
                  }
                }
              }
            }
          }
        }
      }

      .headerCopyRight {
        height: 45px;
        padding: 0px 10px;

        ul {
          gap: 10px;

          li {
            a {
              font-size: 12px;

              svg {
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}