.bannerClients {
    overflow: hidden;
    background: #000000;


    .embla {
        margin-top: 50px;

        .embla__viewport {
            overflow: visible;

            .embla__container {
                display: flex;
                touch-action: pan-y pinch-zoom;
                margin-left: calc(20px * -1);

                .embla__slide {
                    transform: translate3d(0, 0, 0);
                    flex: 0 0 auto;
                    min-width: 0;
                    padding-left: 20px;
                    height: 150px;


                    .imgBox {
                        position: relative;
                        border-radius: 20px;
                        background: #F7F8F9;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px;

                        img {
                            height: 150px;
                            width: auto;
                        }
                    }
                }
            }


        }


    }


}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 40px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 130px;

                        .imgBox {
                            border-radius: 20px;

                            img {
                                height: 130px;
                                width: auto;
                            }

                        }
                    }
                }


            }


        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 35px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 120px;

                        .imgBox {
                            border-radius: 15px;

                            img {
                                height: 110px;
                                width: auto;
                            }

                        }
                    }
                }


            }


        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 30px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 105px;

                        .imgBox {
                            border-radius: 12px;

                            img {
                                height: 100px;
                                width: auto;
                            }

                        }
                    }
                }


            }


        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 25px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 100px;

                        .imgBox {
                            border-radius: 12px;

                            img {
                                height: 90px;
                                width: auto;
                            }
                        }
                    }
                }


            }


        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 25px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 90px;

                        .imgBox {
                            border-radius: 10px;
                            padding: 10px;

                            img {
                                height: 85px;
                                width: auto;
                            }

                        }
                    }
                }


            }


        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .bannerClients {
        overflow: hidden;

        .embla {
            margin-top: 20px;

            .embla__viewport {

                .embla__container {
                    display: flex;
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 20px;
                        height: 110px;

                        .imgBox {
                            border-radius: 15px;
                            padding: 10px;

                            img {
                                height: 100px;
                                width: auto;
                            }
                        }
                    }
                }


            }


        }
    }
}